/*@import "scss/_rootp";
@import "scss/custom";*/

@font-face {
    font-family: TelefonicaBold;
    src: url(../webfonts/Bold/TelefonicaWeb-Bold.eot);
    src: url(../webfonts/Bold/TelefonicaWeb-Bold.eot?#iefix) format('embedded-opentype'), url(../webfonts/Bold/TelefonicaWeb-Bold.woff2) format('woff2'), url(../webfonts/Bold/TelefonicaWeb-Bold.woff) format('woff'), url(../webfonts/Bold/Telefonica-Bold.ttf) format('truetype'), url(../webfonts/Bold/TelefonicaWeb-Bold.svg#telefonicabold) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: TelefonicaExtralight;
    src: url(../webfonts/ExtraLight/TelefonicaWeb-ExtraLight.eot);
    src: url(../webfonts/ExtraLight/TelefonicaWeb-ExtraLight.eot?#iefix) format('embedded-opentype'), url(../webfonts/ExtraLight/TelefonicaWeb-ExtraLight.woff2) format('woff2'), url(../webfonts/ExtraLight/TelefonicaWeb-ExtraLight.woff) format('woff'), url(../webfonts/ExtraLight/TelefonicaWeb-ExtraLight.ttf) format('truetype'), url(../webfonts/ExtraLight/TelefonicaWeb-ExtraLight.svg#telefonicaextralight) format('svg');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: TelefonicaLight;
    src: url(../webfonts/Light/TelefonicaWeb-Light.eot);
    src: url(../webfonts/Light/TelefonicaWeb-Light.eot?#iefix) format('embedded-opentype'), url(../webfonts/Light/TelefonicaWeb-Light.woff2) format('woff2'), url(../webfonts/Light/TelefonicaWeb-Light.woff) format('woff'), url(../webfonts/Light/TelefonicaWeb-Light.ttf) format('truetype'), url(../webfonts/Light/TelefonicaWeb-Light.svg#telefonicalight) format('svg');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: TelefonicaText;
    src: url(../webfonts/Regular/TelefonicaWeb-Regular.eot);
    src: url(../webfonts/Regular/TelefonicaWeb-Regular.eot?#iefix) format('embedded-opentype'), url(../webfonts/Regular/TelefonicaWeb-Regular.woff2) format('woff2'), url(../webfonts/Regular/TelefonicaWeb-Regular.woff) format('woff'), url(../webfonts/Regular/TelefonicaWeb-Regular.ttf) format('truetype'), url(../webfonts/Regular/TelefonicaWeb-Regular.svg#telefonicaregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: TelefonicaHand;
    src: url(../webfonts/Hand/TelefonicaWeb-Hand.eot);
    src: url(../webfonts/Hand/TelefonicaWeb-Hand.eot?#iefix) format('embedded-opentype'), url(../webfonts/Hand/TelefonicaWeb-Hand.woff2) format('woff2'), url(../webfonts/Hand/TelefonicaWeb-Hand.woff) format('woff'), url(../webfonts/Hand/TelefonicaWeb-Hand.ttf) format('truetype'), url(../webfonts/Hand/TelefonicaWeb-Hand.svg#telefonicaregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: TelefonicaRegularitalic;
    src: url(../webfonts/RegularItalic/TelefonicaWeb-RegularItalic.eot);
    src: url(../webfonts/RegularItalic/TelefonicaWeb-RegularItalic.eot?#iefix) format('embedded-opentype'), url(../webfonts/RegularItalic/TelefonicaWeb-RegularItalic.woff2) format('woff2'), url(../webfonts/RegularItalic/TelefonicaWeb-RegularItalic.woff) format('woff'), url(../webfonts/RegularItalic/TelefonicaWeb-RegularItalic.ttf) format('truetype'), url(../webfonts/RegularItalic/TelefonicaWeb-RegularItalic#telefonicaitalic) format('svg');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: TelefonicaRegular;
    src: url(../webfonts/Regular/TelefonicaWeb-Regular.eot);
    src: url(../webfonts/Regular/TelefonicaWeb-Regular.eot?#iefix) format('embedded-opentype'), url(../webfonts/RegularItalic/TelefonicaWeb-Regular.woff2) format('woff2'), url(../webfonts/Regular/TelefonicaWeb-Regular.woff) format('woff'), url(../webfonts/Regular/TelefonicaWeb-Regular.ttf) format('truetype'), url(../webfonts/RegularItalic/TelefonicaWeb-Regular#telefonica) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: TelefonicaCap;
    src: url(../webfonts/Cap/TelefonicaCapWeb-Regular.eot) format('embedded-opentype'), url(../webfonts/Cap/TelefonicaCapWeb-Regular.woff) format('woff'), url(../webfonts/Cap/TelefonicaCapWeb-Regular.otf) format('opentype'), url(../webfonts/Cap/TelefonicaCapWeb-Regular.svg#TelefonicaCapWeb-Regular) format('svg');
    font-weight: 400;
    font-style: normal
}
html, body{	
	font-family:TelefonicaRegular;
	color: #50535a;
	font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
body {
	position: relative;
	left: 0;
	transition: all .5s linear;
}
.contenidoHome {
	/*padding: 300px 0;*/
	background: #f9f9f9;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
button{
    height: 50px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px 0;
    border: none;
    line-height: 16px;
    color: #fff;
}
select::-ms-expand {
    display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;      
	appearance: none;
}
img{
	max-width: 100%;
	height: auto;
}
/***** Header ******/
#bqtopbar{
	background-color: #f4f4f3;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 5px 0;
	border-bottom: 1px solid #b7b7b7;
	font-size: 16px;
	display: none
}
#bqtopbar a {
	color: #86888c;
}
#bqtopbar a.active {
	font-family: TelefonicaBold;
}
#bqtopbar a:last-of-type{
	margin-left: auto !important;
	color: #50535a;
}
#bqtopbar a:not(:first-of-type) {
	margin-left: 30px;
}
#navegacion {
	/*padding: 20px 0;*/
	border-bottom: solid 1px #b6b7b7;
	height: 90px;
}
#navegacion .container, #navegacion .row {
	height: 100%;
}
#navegacion nav {
	display: flex;
	align-items: stretch;
}
#navegacion nav > ul {
    display: flex;
    align-items: center;
}
#navegacion nav li {
    margin-right: 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
#navegacion nav li a {
	font-size: 16px;
    color: #50535a;
    height: 100%;
    display: flex;
    align-items: center;
}
#navegacion nav li a:hover {
	color: #00a9e0;
	text-decoration: none;
}
#navegacion nav li a i {
	margin-left: 5px;
}
#navegacion nav li a:hover i {
	transform: rotate(180deg);
}
#navegacion .navDcha {
	margin-left: auto;
	display: flex;
}
#navegacion .navDcha img {
    display: inline-block;
    margin-left: 20px;
}
#navegacion .navDcha button{
	background-color: #00a9e0;
    padding: 0 30px;
    align-self: center;
}
#navegacion .navDcha button:hover {
	background-color: #0098ca;
}
div[class*="subpaginas"] {
	padding-top: 40px;
    height: 220px;
    display: flex;
    justify-content: center;
    position: absolute;
    background: #fff;
    right: 0;
    left: 0;
    top: 124px;
    visibility: hidden;
    border-top: solid 1px #b6b7b7;
    z-index: 99999;
}
li[class*="primerNivel"] a:hover + div {
    visibility: visible;
}
li[class*="primerNivel"] a + div:hover {
	visibility: visible;
}
div[class*="subpaginas"] > div {
	width: 263px;
	display: inline-block;
}
div[class*="subpaginas"] > div:not(:first-of-type) {
	margin-left: 30px;
}
div[class*="subpaginas"] > div span {
	font-size: 15px;
	font-family: TelefonicaBold;
	text-transform: uppercase;
}
div[class*="subpaginas"] > div li {
	margin-top: 20px;
	display: block !important;
}
div[class*="subpaginas"] > div li a {
	font-size: 18px;
	color: #50535a;
}
#navegacionN2 {
	background: #00a9e0;
	width: 83.5%;
	position: fixed;
	height: 100%;
	top: 0;
	right: -83.5%;
	z-index: 999;
	transition: all .5s linear;
}
#navegacionN2 li, .paginasHijas li {
    height: 50px;
    display: flex;
    align-items: center;
}
#navegacionN2 li a, #navegacionN2 li span, .paginasHijas li a  {
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: TelefonicaLight;
}
#navegacionN2 a, #navegacionN2 span {
	color: #fff;
	cursor: pointer;
}
#navegacionN2 a i {
	float: right;
}
.contraerBody {
	left: -83.45%;
	transition: all .5s linear;
}
.expanderNav {
	width: 83.5%;
	right: 0 !important;
	transition: all .5s linear;
}
.subNavHeader  {
	margin: 10px;
	position: relative;
}
.subNavHeader select {
	width: 280px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    color: #86888c;
    padding-left: 20px;
    background: #fff;
}
.select-label {
	display: block;
	width: 280px;
	height: 50px;
	border-radius: 25px;
	border: none;
	font-size: 14px;
	color: #86888c;
	padding-left: 20px;
	background: #fff;
	margin-bottom: 0;
	line-height: 50px;
}
.select-label i {
	color: #00a9e0 !important;
	margin-left: 25px;
}
.select-wrap {
	position: absolute;
	width: 100%;
	background: #fff;
    display: none;
    font-size: 14px;
    top: 0;
    z-index:9999;
}
.select-wrap.active{
	display: block;
}
.select-checkbox:checked ~ .select-wrap {
  	display: block;
}
.select {
	list-style: none;
	padding: 0 10px;
	margin: 0;
}
.select li {
	height: unset;
    padding: 8px 0;
}
.select a {
	display: block;
	text-decoration: none;
	color: #86888c !important;
}
#navegacionN2 nav {
	padding: 0 10px; 
}
div[class*="subNivel"], .primerNivelN2.inactivo {
	display: none;
}
div[class*="subNivel"].activo {
	display: block !important;
}
.subNavFooter {
	position: absolute;
    bottom: 0;
    background: #fff;
    left: 0;
    right: 0;
    padding: 30px 10px 30px 10px;
}
.subNavFooter a {
	color: #50535a !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.paginaPrimerN {
	margin: 10px;
}
.paginaPrimerN span {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paginasHijas {
	padding: 0 10px;
}
#cerrarMenu {
	display: none;
	position: fixed;
    height: 100%;
    width: 16.5%;
    margin-left: -16.5%;
    top: 0;
}
#navegacionN2.expanderNav #cerrarMenu {
	display: block;
}
/***** Header ******/
/***** Modal: Formulario de contacto *****/
body.modal-open, .modal.show {
	padding-right: 0 !important;
}
.modal{
	background: rgba(255, 255, 255, .3);
} 
.close {
	float: none;
	text-align: right;
	width: 100%;
}
.modal button {
	height: unset;
}
.modal button i {
    font-size: 20px;
    color: #b7b7b7;
}
.titformodal{
	font-family: TelefonicaLight;
	font-size:40px;
	text-align:center;
	line-height:48px;
	color: #50535a;
	width:100%;
	margin-bottom: 5px;
}
.modal p {
	margin-bottom: 40px;
}
.modal p a {
    font-family: TelefonicaBold;
    color: #50535a;
    font-size: 18px;
}
.modal p a:hover {
	text-decoration: underline;
	color: #50535a; 
}
#nombreUsuarioCntc, #nombreUsuarioCntr {
	margin-bottom: 10px;
}
#telefonoUsuarioCntc, #telefonoUsuarioCntr {
	margin-bottom: 20px;
}
input#nombreCntc , input#numeroCntc, input#nombreCntr , input#numeroCntr {
	border: none;
    font-size: 18px;
}
#recibirLlamadaCntc, #recibirLlamadaCntr {
	overflow: hidden;
	margin-bottom: 40px;
}
#recibirLlamadaCntc .btn.focus, #recibirLlamadaCntc .btn:focus, #recibirLlamadaCntr .btn.focus, #recibirLlamadaCntr .btn:focus {
	box-shadow: unset;
}
#btmanianaCntc, #btardeCntc, #btmanianaCntr, #btardeCntr {
	display: inline-block;
}
#btmanianaCntc input, #btardeCntc input, #btmanianaCntr input, #btardeCntr input {
	width: 156px;
}
#btmanianaCntc .activo, #btardeCntc .activo, #btmanianaCntr .activo, #btardeCntr .activo {
	background: #00a9e0;
	color: #fff;
	border-radius: 20px;
}
#btmanianaCntc, #btmanianaCntr {
	float: left;
}
#btardeCntc, #btardeCntr {
	float: right;
}
#aceptarPrivacidadCntc, #aceptarPrivacidadCntr {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}
.custom-checkbox .custom-control-label::before {
	border-radius: 50% !important;
}
#programarLlamadaCntc, #programarLlamadaCntr {
	margin-top: 20px;
	margin-top: 20px;
    width: 100%;
    background: #5cc500;
    font-size: 16px;
}
/***** Modal: Formulario de contacto *****/
/***** Modal: Formulario de contratacion *****/
#modalContratacion .modal-body > p {
	margin-bottom: 10px;
}
.detalleModalProducto {
	background: #f4f4f3;
	padding: 20px;
	margin-bottom: 40px;
}
.detalleModalProducto span {
	font-size: 18px;
	color: #00a9e0;
	margin-bottom: 10px;
}
.detalleModalProducto p {
	margin-bottom: 0;
	font-size: 16px;
	width: 55%;
}
/***** Cabecera inicio ****/
.cabecera {
	text-align: center;
	color: #fff;
	position: relative;
	background: #f4f4f3;
}
.cabecera img {
	width: 100%;
}
.cabecera .textoCabecera {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.cabecera .servicios {
	display: none;
}
.servicio-item {
	width: 190px;
	position: relative;
}
.textoCabecera .servicio-item:not(:first-of-type)::before {
    content: '+';
    position: absolute;
    left: -10px;
    bottom: -21px;
    font-size: 48px;
}
.servicio-item img{
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}
.servicio-item p {
	font-size: 14px;
	font-family: TelefonicaBold;
	margin-bottom: 0;
}
.textoCabecera .servicio-item p {
	text-transform: uppercase;
}
.tituloCabecera{
	font-size: 48px;
	font-family: TelefonicaLight;
	line-height: 70px;
	margin-bottom: 0;
}
.tituloCabecera span {
	font-family: TelefonicaHand;
}
.cabecera p:not(:first-of-type) {
	font-size: 21px;
	font-family: TelefonicaBold;
	margin: 40px 0;
}
.cabecera button {
    min-width: 189px;
    background: #5cc500;
}
/***** Cabecera familia *****/
.contenidoFamilia .cabecera {
    background: #fff;
}
.textoCabeceraFamilia {
    position: absolute;
    top: 60px;
    width: 100%;
}
.textoCabeceraFamilia .tituloCabecera {
	line-height: 60px;
}
.textoCabeceraFamilia .servicios{
	margin-top: 40px !important;
	display: flex;
	flex-wrap: wrap;
}
.textoCabeceraFamilia .servicio-item {
	width: 50%;
	position: relative;
	margin-bottom: 20px;
}
.textoCabeceraFamilia .servicio-item img {
	margin-bottom: 5px;
}
.textoCabeceraFamilia .servicio-item p {
	width: 155px;
	margin: 0 auto;
}
/***** Slider ****/
.apps {
	background: #f4f4f3;
	padding-top: 60px;
}
.apps > p, p.tituloSeccion, h2.tituloSeccion {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-family: TelefonicaLight;
    margin: 0 15px;
}
.tabsApps {
    overflow-x: scroll;
    display: flex;
    margin-top: 40px;
}
.tabsApps ul {
	display: flex;
}
.tabsApps li {
    width: 150px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    background: #e9eae8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f7f7f7;
    cursor: pointer;
}
.tabsApps li.active {
    background: #fff;
    border-top: 5px solid #00a9e0;
    border-right: none;
    transition: background .5s ease;
}
div[id*="opcionesSlider"] {
	background: #fff;
	display: none;
	padding-top: 50px;
	padding-bottom: 60px;
}
div[id*="opcionesSlider"].active {
	display: block;
}
.apps .container {
	position: relative;	
}
.apps .container > a {
    text-align: center;
    font-size: 16px;
    color: #00a9e0;
    display: block;
    margin-top: 80px;
}
.owl-stage {
	display: flex;
}
.owl-item {
    display: flex;
}
.owl-carousel .owl-stage-outer {
	padding-left: 1px;
}
.owl-carousel button.owl-prev, button.owl-next, .owl-carousel .owl-dot {
	height: unset;
	outline: 0;
}
.owl-theme .owl-nav {
	margin-top: 0;
}
button.owl-prev, button.owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 !important;
}
button.owl-prev:hover, button.owl-next:hover {
	background: none !important;
	color: #50535a !important;
} 
button.owl-prev {
    left: -30px;
}
button.owl-next {
    right: -10px;
}
.owl-theme .owl-nav span {
	vertical-align: text-top;
	line-height: 0;
	font-size: 80px;
}
.owl-dots {
    position: absolute;
    padding-top: 35px;
    padding-right: 15px;
    width: 100%;
    display: flex;
}
button.owl-dot {
    flex: 1;
    margin: 0 5px;
}
.apps .owl-theme .owl-dots .owl-dot span {
	width: 100%;
    height: 6px;
    border-radius: 3px;
    margin: 0;
}
.cards {
	overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    padding-bottom: 5px
}
.cards .row {
	flex-wrap: nowrap;
	margin: 0;
}
.card-item {
	width: 300px;
	flex-shrink: 0;
	border-radius: 4px;
  	box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  	margin-bottom: 10px; /** originalmente 45px **/
  	margin-right: 20px;
  	display: flex;
  	flex-direction: column;
}
.card-item:not(:last-of-type) {
	margin-right: 20px;
}
.card-item > p {
    background: #00a9e0;
    color: #fff;
    padding: 0 20px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 0;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
  	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: normal;
}
.detalleCard {
	padding: 40px 20px 20px 20px;
	text-align: center;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	background: #fff;
}
.detalleCard > div:first-of-type {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
p.descripcion-item {
	padding-bottom: 30px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
    text-align: center;
    margin-bottom: 0;
}
div[id*="opcionesSlider"] p.descripcion-item {
	text-align: center;
	flex-grow: 1;
}
p.precio-item {
	margin: 30px 0;
    font-size: 24px;
    line-height: normal;
}
.detalleCard button {
	width: 260px;
	border-radius: 4px;
	background-color: #00a9e0;
}
.detalleCard a {
	height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #00a9e0;
}
.owl-stage-outer.solitario {
	display: flex;
    justify-content: center;
}
.owl-stage-outer.solitario + .owl-nav, .owl-stage-outer.solitario + .owl-nav + .owl-dots {
	display: none;
}
.owl-theme .owl-nav span {
	color: transparent;
}
.owl-nav .owl-next span {
    background: url(../imagenes/flechaSliderDcha.svg) no-repeat 0;
}
.owl-nav .owl-prev span {
    background: url(../imagenes/flechaSliderIzq.svg) no-repeat 0;
}
/***** Slider familia ****/
.contenidoFamilia .apps {
	background: #fff;
	padding-bottom: 110px;
}
.sliderFamilia p.tituloSeccion {
	margin-bottom: 45px;
}
.detalleCard ul {
    text-align: left;
    margin-top: 14px;
}
.detalleCard ul li, .descripcionProducto ul li {
	margin-bottom: 10px;
    font-size: 16px;
    position: relative;
    margin-left: 20px;
    line-height: normal;
}
.detalleCard ul li::before, .descripcionProducto ul li::before {
    content: '•';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
}
/***** Bloque soluciones home ******/
.soluciones {
	padding: 60px 0;
	background: #f4f4f3;
}
.soluciones > p {
	margin-bottom: 20px;
}
.soluciones .container > p {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;	
}
.fichaSector {
	margin-top: 20px;
}
.fichaSector a {
	display: block;
	position: relative;
}
.fichaSector a:hover img {
	filter: brightness(100%);
}
.fichaSector img {
	filter: brightness(70%);
	transition: all .5s linear;
}
.descripcionSector::before {
    content: url('../imagenes/bullet-rigth-soluciones.svg');
    position: absolute;
    bottom: 20px;
    right: 20px;
    line-height: 0;
}
.descripcionSector {
	position: absolute;
    bottom: 0;
    padding-left: 20px;
    padding-right: 45px;
    padding-bottom: 20px;
    color: #fff;
}
.descripcionSector p, .destacadoSector > div p {
	margin-bottom: 0;
}
.descripcionSector p:first-of-type, .destacadoSector > div p:first-of-type {
	text-transform: uppercase;
	font-family: TelefonicaBold;
}
.descripcionSector p:last-of-type, .destacadoSector > div p:last-of-type{
	font-size: 32px;
	font-family: TelefonicaLight;
	line-height: 40px;
}
/***** Bloque destacado verde home *****/
.destacadoVerde{
	background: #5cc500;
	color: #fff;
	padding: 60px 0 40px 0;
}
.destacadoVerde .tituloSeccion {
	margin: 0 0 40px 0;
}
.destacadoVerde .bloqueDestacado {
    display: flex;
    margin-bottom: 20px;
}
.num {
    font-size: 80px;
    color: rgba(255, 255, 255, .2);
    line-height: 80px;
    margin-right: 20px;
}
.acciones {
	margin-top: 20px;
}
.acciones p {
	margin-bottom: 0;
}
.acciones p:first-of-type {
	font-size: 20px;
	font-family: TelefonicaBold;
	line-height: 20px;
}
.acciones p:last-of-type {
	font-size: 16px;
	line-height: 20px;
}
/***** Ficha de producto *****/
div[id*="pestana"] span[id*="ancla"]{
	position: absolute;
    top: -150px;
    visibility: hidden;
}
#acordeonProducto .card {
	border-top: 1px solid #b6b7b7;
}
#acordeonProducto > div:last-of-type {
	border-bottom: 1px solid #b6b7b7;
}
#acordeonProducto div[id*="heading"] button, #acordeonProducto div[id*="faq"] button {
	width: 100%;
    text-align: left;
    padding: 22px 10px;
    height: unset;
    border-radius: 0;
    line-height: normal;
    font-size: 21px;
    color: #50535a;
    display: flex;
    align-items: center;
}
#acordeonProducto button img{
    margin-left: auto;
}
#acordeonProducto button.collapsed img {
	transform: rotate(180deg);
}
#acordeonProducto div.collapse > div, #acordeonProducto div.collapsing > div {
    margin: 30px auto 65px auto;
}
.cabeceraProducto {
    padding: 0 16px 0 36px;
}
.cabeceraProducto div {
    display: flex;
    align-items: center;
    height: 60px;
}
.cabeceraProducto span {
    font-size: 28px;
    font-family: TelefonicaLight;
    line-height: 1.14;
}
.cabeceraProducto ul {
    display: inline-block;
    margin-left: auto;
    height: 100%;
}
.cabeceraProducto ul li {
    display: inline-block;
    height: 100%;
}
.cabeceraProducto ul li a {
    padding: 0 10px;
    font-size: 16px;
    color: #50535a;
    display: flex;
    align-items: center;
    height: 100%;
}
.cabeceraProducto ul li.active a {
	border-bottom: 4px solid #00a9e0;
}
.card {
	border: 0;
	border-top: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}
#acordeonProducto iframe {
	width: 100%;
	height: 200px;
}
.descripcionProducto {
	margin-bottom: 30px;
}
.descripcionProducto p {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.5;
}
#pestanaQue .descripcionProducto p:not(:first-of-type) {
	font-size: 18px;
	line-height: 1.33;
}
.descripcionProducto p:first-of-type {
	font-size: 32px;
	line-height: 1.25;
	font-family: TelefonicaLight;
}
.descripcionProducto ul {
	padding-left: 5px;
}
.caracteristicaProducto:first-of-type {
	margin-top: 40px;
}
.caracteristicaProducto:not(:last-of-type) {
    margin-bottom: 60px;
}
#acordeonProducto #pestanaPlan div.collapse > div, #acordeonProducto #pestanaPlan div.collapsing > div {
	margin: 0;
}
#pestanaPlan .apps {
	padding-top: 30px;
}
#pestanaPlan .tabsApps ul {
	padding-left: 10px;
}
#pestanaPlan .tabsApps li{
	width: 160px;
    line-height: 1.33;
    height: 50px;
    background: transparent;
    border-top: none;
}
#pestanaPlan .tabsApps li:nth-of-type(2){
	margin: 0 10px;
}
#pestanaPlan .tabsApps li.active {
	background: #00a9e0;
    border-right: none;
    transition: background .5s ease;
    border-radius: 25px;
    color: #fff;
}
#pestanaPlan div[id*="opcionesSlider"] {
	background: transparent;
	padding-bottom: 110px;
}
#pestanaPlan .detalleCard {
	padding: 0 20px 20px 20px;
}
#pestanaPlan .detalleCard ul{
	margin-top: 0;
}
#pestanaPlan .detalleCard ul li {
	list-style-type: none;
	margin-left: 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
    padding: 10px 0;
    line-height: 1.5;
    min-height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
#pestanaPlan .detalleCard ul li::before {
	content: none;
}
#pestanaPlan .card-item > p {
	padding: 0 30px;
}
#pestanaPlan p.precio-item {
	margin: 30px 0 20px 0;
}
.triggerCaract[aria-expanded="false"] > .expanded,
.triggerCaract[aria-expanded="true"] > .collapsed {
  display: none;
}
.recomendado.card-item > p, .recomendado .detalleCard button {
    background: #5cc500;
}
.recomendado.card-item > p {
	flex-direction: column;
}
.recomendado p span {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: TelefonicaBold;
}
.recomendado p.precio-item {
    color: #5cc500;
}
#pestanaCasos .collapse, #pestanaCasos .collapsing {
	background: #5cc500;
	color: #fff;
	text-align: center;
}
#pestanaCasos .collapse img {
	width: 80px;
	height: 80px;
}
#pestanaCasos span {
	margin-top: 20px;
	font-size: 21px;
	line-height: normal;
	display: inline-block;
}
#pestanaCasos .bloqueCaso div{
	margin-top: 40px;
}
#pestanaCasos .bloqueCaso p:first-of-type {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 21px;
	font-family: TelefonicaBold;
	line-height: normal;
}
#pestanaCasos .bloqueCaso p:last-of-type {
	font-size: 18px;
	line-height: normal;
}
#pestanaFaq .container-fluid {
	padding-left: 0;
	padding-right: 0;
}
#pestanaFaq .collapse, #pestanaFaq .collapsing{
	background: #f4f4f3;
}
#accordionFaq .card {
    border-top: 0;
    border-bottom: 1px solid #d3d4d3;
    padding-left: 15px;
    padding-right: 10px;
    background: #f4f4f3;
}
#accordionFaq .card.mostrar, #accordionFaq .collapse, #accordionFaq .collapsing {
	background: #fff;
}
#accordionFaq .card .collapse div, #accordionFaq .card .collapsing div {
    margin: 0px 0 40px 15px;
}
#accordionFaq button {
    padding: 0;
    height: 110px;
    font-size: 24px;
}
#acordeonProducto button:hover{
	text-decoration: none;
}
#accordionFaq .card:first-of-type{
	margin-top: 40px;
}
#pestanaSectores > div:last-of-type > div {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}
.destacadoSector > div {
	position: absolute;
    top: 0;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 0;
    color: #fff;
}
.destacadoSector > div p:first-of-type {
	font-size: 16px;
	line-height: normal;
	margin-bottom: 10px;
}
.destacadoSector > div p:last-of-type{
	font-size: 40px;
	line-height: 1.2;
}
.bloquesSector div {
	padding: 30px 10px;
}
.bloquesSector div:not(:first-of-type) {
	border-top: 1px solid #b6b7b7;
}
.bloquesSector div p:first-of-type {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1;
}
.bloquesSector div p:last-of-type {
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1.33;
}
.recomendaciones {
	padding: 60px 0;
}
.recomendaciones > div {
	display: flex;
	flex-direction: column;
	margin-top: 35px;
}
.recomendaciones .card-item {
    margin: 0 auto;
}
.recomendaciones .card-item:first-of-type {
	margin-bottom: 40px;
}
.recomendaciones .card-item > p {
	background: #954b97;
}
.recomendaciones .detalleCard button {
	background: #954b97;
}
/***** Camino de migas *****/
.breadcrumb {
	padding: 0;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 0;
    display: none;
}
.breadcrumb a {
	color: #50535a;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 5px;
}
.breadcrumb-item+.breadcrumb-item::before {
	padding-right: 5px;
	font-family: TelefonicaRegular;
	content: '>';
}
.breadcrumb-item.active {
    color: #50535a;
    font-family: TelefonicaBold;
}
/***** Footer ******/
#footerContrata {
	background: #f4f4f3;
	padding: 60px 0;
}
.titPie {
    font-family: TelefonicaLight;
    font-size: 40px;
    text-align: center;
    width: 100%;
    display: block;
    color: #50535a;
    margin-bottom: 40px;
    line-height: 40px;
}
.txtpieservicios{
	color:#50535a;
	font-size: 18px;
	font-family: TelefonicaBold;	
}
#footerContacta {
	background-color: #00a9e0;
	padding: 20px 0;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
#footerContacta p {
	margin-bottom: 0;
	display: inline-block;
}
.btnSolicitarLlamada {
	background-color: #954b97;
    background-image: url(../imagenes/call-center-copy.png);
    background-repeat: no-repeat;
    background-position: left 28px center;
    padding-left: 43px;
    width: 200px;
}
.btnSolicitarLlamada:hover {
	background-color: #7f3f81; 
}
#footerMarcaTelefonica {
	padding: 30px 0;
}
#footermapasitio{
	border-top:1px solid #b7b7b7;
	border-bottom:1px solid #b7b7b7;
	padding: 40px 0;
}
.footer-large__title {
    font-family: TelefonicaBold;
    position: relative;
    font-size: 21px;
}
.footer-large-links-block {
    border-bottom: solid 1px #b7b7b7;;
}
.footer-large-links-block .collapsible-header {
    border-bottom: 0;
}
.footer-large__title i {
    color: #b6b7b7;
    position: absolute;
    padding-top: 5px;
    right: 0;
}
.footer-large-links-block.active .collapsible-body {
	display: none;
}
.collapsible-body {
	padding: 20px 15px 0 0;
}
.collapsible-body li {
	line-height: 20px;
}
.collapsible-body li:not(:last-of-type){
	margin-bottom: 20px;
}
.collapsible-body li span {
	font-family: TelefonicaBold;
	display: block;
}
#rrss ul {
	display: inline-block;
	width: 100%;
}
#rrss li {
	display: inline-block;
}
#rrss li a {
	display: block;
}
#rrss li a:hover {
	opacity: 0.7;
}
#copyright {
	font-size: 14px;
	color: #86888c;
}
/***** Footer ******/
.inputformmodal{
	background-color:#e9eae8;;
	text-align:center;
	font-style:italic;
}
.btnmodal{
	border-radius:20px;
}

.txtpiecontacta{
	font-size:24px;
	color:#fff;
	font-family: TelefonicaRegular;
}
.teltxtpiecontacta{
	font-size:24px;
    font-family: TelefonicaBold;
    color: #fff;
}
.teltxtpiecontacta:hover {
	color: #fff;
}
.barracontacto{
	padding-bottom: 10px;
    padding-top: 10px;
  	background-color: #00a9e0;
}

.titfooterenlaces, .titfooterenlaces a, .titfooterenlaces2{
	color:#50535a;
	font-family: TelefonicaBold;
}

.titfooterenlaces a {
    display: block;
}

.titfooterenlaces a i {
    float: right;
}
/*---------------MEDIA QUERIeS---------------*/
@media (min-width: 450px) {
	.tabsApps {
		justify-content: space-around;
		overflow-x: hidden;
	}
}
@media (min-width: 576px) {
	.contraerBody {
		left: -75%;
	}
	#navegacionN2 {
		width: 75%;
		right: -75%;
	}
	#cerrarMenu {
	    width: 25%;
	    margin-left: -25%;
	}
	.subNavHeader {
		margin: 20px;
	}
	.paginaPrimerN {
		margin-left:20px;
		margin-right:20px;
	}
	.subNavFooter {
		padding-left: 20px;
		padding-right: 20px;
	}
	#navegacionN2 nav {
		padding-left: 20px;
		padding-right: 15px;
	}
	.tabsApps li {
		width: 192px;
		padding: 10px 20px;
	}
	.fichaSector {
    	padding-left: 0;
    	padding-right: 0;
	}
	.cabecera .servicios {
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}
	.destacadoVerde .tituloSeccion {
	    margin: 0 -15px 40px -15px;
	}
	.bloqueDestacado:first-of-type {
		order: 1;
	}
	.bloqueDestacado:nth-of-type(2) {
		order: 3;
	}
	.bloqueDestacado:nth-of-type(3) {
		order: 5;
	}
	.bloqueDestacado:nth-of-type(4) {
		order: 2;
	}
	.bloqueDestacado:nth-of-type(5) {
		order: 4;
	}
	.bloqueDestacado:nth-of-type(6) {
		order: 6;
	}
	.textoCabeceraFamilia .servicio-item {
    	width: 33.33%;
    }
    #acordeonProducto iframe {
    	height: 304px;
	}
	#pestanaPlan .tabsApps li {
		width: 182px;
	}
	#acordeonProducto div[id*="faq"] button {
    	padding: 22px 0;
	}
}
@media (min-width: 768px) {
	#navegacion .logo {
		margin-right: 45px;
	    width: 205px;
	    height: 40px;
	    align-self: center;
	    display: flex; 
	}
	#serviciosiconos > div img {
		margin-bottom: 20px;
	}
	#serviciosiconos > div .txtpieservicios {
		margin-bottom: 0;
	}
	.modal-dialog {
		width: 407px;
	}
	.modal-body {
		padding: 30px;
	}
	.contraerBody {
		left: -48.5%;
	}
	#navegacionN2 {
		width: 48.5%;
		right: -48.5%;
	}
	#cerrarMenu {
	    width: 51.5%;
	    margin-left: -51.5%;
	}
	.subNavHeader {
		margin: 30px 20px;
	}
	.paginaPrimerN {
		margin: 20px;
	}
	.tituloCabecera {
		font-size: 56px;
	}
	.subNavFooter, #navegacionN2 nav {
		padding-left: 30px !important;
	}
	.tabsApps li {
	    width: 230px;
	    padding: 20px;
	    border: none;
	}
	.tabsApps li:not(:last-of-type) {
		margin-right: 10px;
	}
	.owl-dots {
		display: unset;
		padding-top: 30px;
	}
	.apps .owl-theme .owl-dots .owl-dot span {
		width: 79px;
	}
	.owl-stage-outer.duo {
		display: flex;
	    justify-content: center;
	}
	.owl-stage-outer.duo + .owl-nav, .owl-stage-outer.duo + .owl-nav + .owl-dots {
		display: none;
	}
	.descripcionSector {
	    padding-right: 125px;
	}
	.destacadoVerde .tituloSeccion {
	    margin: 0 0 40px 0;
	}
	.textoCabeceraFamilia .servicios {
		width: 430px;
		margin: 0 auto;
	}
	.textoCabeceraFamilia .servicio-item p {
		width: 130px;
	}
	#acordeonProducto div[id*="heading"] button {
		padding: 22px 25px;
	}
	#acordeonProducto div[id*="heading"] + div .container-fluid {
		padding-left: 25px;
		padding-right: 25px;
	}
	#pestanaSectores div[id*="heading"] + div .container-fluid, #pestanaFaq div[id*="heading"] + div .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	#acordeonProducto iframe {
    	height: 405px;
	}
	#pestanaPlan .tabsApps li{
		width: 192px;
	}
	#pestanaPlan .tabsApps li:nth-of-type(2) {
    	margin: 0 30px;
	}
	.bloqueCaso div {
   		width: 61.5%;
    	margin: 40px auto 0 auto;
	}
	.recomendaciones > div {
		flex-direction: row;
		justify-content: center;
	}
	.recomendaciones .card-item:first-of-type{
		margin-bottom: 0;
		margin-right: 30px;
	}
	.recomendaciones .card-item {
    	margin: unset;
	}
}
@media (min-width: 992px) {
	#navegacion .navDcha img {
		margin-left: 30px;
	}
	.destacadoVerde{
	    background: #5cc500 url(../imagenes/mDestacadoVerdeLg.svg) no-repeat;
	    background-position: 100%;
	    background-size: contain;
	}
	.destacadoVerde .tituloSeccion {
		text-align: left;
	}
	.destacadoVerde .bloqueDestacado {
		margin-bottom: 40px;
	}
	.textoCabeceraFamilia .servicios {
		flex-wrap: nowrap;
		width: 100%;
	}
	.textoCabeceraFamilia .servicio-item {
		width: 150px;
	}
	div[id*="heading"] {
		display: none;
	}
	div[id*="heading"] + div {
		display: block !important;
	}
	.titfooterenlaces, .titfooterenlaces2, #footermapasitio ul li a {
		font-size: 16px;
	}
	.footer-large__title {
		font-size: 16px;
	}
	#footermapasitio ul.footer-large-links {
		display: flex;
	}
	#footermapasitio ul.footer-large-links > li {
	    display: inline-block;
	    border-bottom: 0;
	    width: calc(100%/5);
	}
	.footer-large__title i {
		display: none;
	}
	.footer-large-links-block .collapsible-header {
	    padding: 0;
    	cursor: text;
	}
	.footer-large-links-block .footer-large__icon {
	    display: none;
	}
	.footer-large-links-block .collapsible-body {
	    display: block;
	    padding-left: 0;
	}
	#footermapasitio ul li a {
		color: #86888c;
	}
    #footermapasitio .collapse:not(.show){
	    display: block;
	}
	.titfooterenlaces{
		display:none;
	}
	#footerRedes {
		padding: 30px 0 50px 0;
	}
	#rrss ul {
		text-align: right;
	}
	#rrss ul li:not(:first-of-type) {
		margin-left: 20px;
	}
	.fichaSector {
    	padding-left: 15px;
    	padding-right: 15px;
	}
	.descripcionSector {
	    padding-right: 50px;
	}
	#acordeonProducto div[id*="heading"] + div .container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
	.bloqueCaso {
		display: flex;
    	justify-content: space-between;
	}
	.bloqueCaso div{
		width: 28.5%;
	}
	#pestanaCasos .collapse img{
		width: 50px;
		height: 50px;
	}
	.contenidoProducto {
		padding-top: 149px;
	}
	.cabeceraProducto {
	    position: fixed;
	    top: 90px;
	    z-index: 9997;
	    background: #fff;
	    left: 0;
	    right: 0;
	    border-bottom: 1px solid #b6b7b7;
	    transition: all .5s linear;
	}
	#fichaProducto #navegacion {
	    position: fixed;
	    z-index: 9998;
	    background: #fff;
	    left: 0;
	    right: 0;
	    transition: all .5s linear;
	}
	#fichaProducto #navegacion.cambioPosition, .cabeceraProducto.cambioPosition {
	    transform: translate(-48.5%);
	    transition: all .5s linear;
	}
	.caracteristicaProducto:nth-of-type(even) .descripcionProducto {
	    order: 1;
	}
	div#pestanaSectores {
    	padding: 60px 0;
	}
	.bloquesSector div:not(:first-of-type) {
		border-top: 0;
	}
	.bloquesSector div {
	    padding: 20px 10px;
	    border: 1px solid #b6b7b7;
	}
	#pestanaFaq div.collapse > div, #pestanaFaq div.collapsing > div {
		margin: 60px 0;
	}
	#acordeonProducto iframe {
    	height: 265px;
	}
	.breadcrumb{
		display: flex;
	}
	#pestanaQue div.collapse > div, #pestanaQue div.collapsing > div {
    	margin: 10px auto 60px auto;
	}
}
@media (min-width: 1200px) {
	#bqtopbar {
		display: block !important;
	}
	.btnSolicitarLlamada {
		margin-left: 18px;
	}
	#navegacion .navDcha img {
		display: none;
	}
	.tituloCabecera {
	    font-size: 64px;
	    line-height: 72px;
	}
	.cabecera p:not(:first-of-type) {
		margin-bottom: 30px;
	}
	.apps > p {
		width: 945px;
		margin: 0 auto;
	}
	#footermapasitio .container-fluid, #footerContrata .container-fluid, #footerRedes .container-fluid {
		max-width: 1140px;
	}
	.owl-stage-outer.trio {
		display: flex;
	    justify-content: center;
	}
	.owl-stage-outer.trio + .owl-nav, .owl-stage-outer.trio + .owl-nav + .owl-dots {
		display: none;
	}
	h2.tituloSeccion {
		font-size: 40px;
		line-height: 48px;
	}
	.descripcionSector {
	    padding-right: 80px;
	}
	.descripcionSector::before {
	    right: 30px;
	}
	.textoCabeceraFamilia .servicios {
		margin-top: 60px !important;
	}
	#acordeonProducto .container-fluid {
		max-width: 1140px;
	}
	#fichaProducto #navegacion {
		top: 35px;
	}
	.cabeceraProducto {
		top: 125px;
	}
	#fichaProducto #bqtopbar{
		position: fixed;
	    top: 0;
	    z-index: 9999;
	    left: 0;
	    right: 0;
	}
	.contenidoProducto {
	    padding-top: 184px;
	}
    .cabeceraProducto{
		padding: 0;
	}
	.cabeceraProducto div {
		max-width: 1140px;
    	margin: 0 auto;
    	padding-left: 15px;
    	padding-right: 15px;
	}
	div[id*="pestana"] span[id*="ancla"] {
		top: -185px;
	}
	#fichaProducto div[class*="subpaginas"] {
		top: 89px;
	}
	#acordeonProducto iframe {
    	height: 311px;
	}
	#pestanaQue .descripcionProducto p:first-of-type {
		font-size: 40px;
	}
	#pestanaQue .descripcionProducto p:first-of-type, #pestanaQue .descripcionProducto p:not(:first-of-type) {
		margin-bottom: 20px;
	}
	#acordeonProducto div.collapse > div, #acordeonProducto div.collapsing > div {
		margin: 60px auto;
	}
	#pestanaPlan .apps {
		padding-top: 60px;
	}
	div#pestanaSectores {
		padding: 0;
	}
	.destacadoSector > div {
		padding-left: 30px;
	}
	.destacadoSector > div p:last-of-type {
		width: 72%;
	}
	header .row{
		padding-left: 15px;
		padding-right: 15px; 
	}
	#pestanaQue div.collapse > div, #pestanaQue div.collapsing > div {
    	margin: 20px auto 60px auto;
	}
}
@media (min-width: 1380px) {
	.destacadoVerde{
	    background: #5cc500 url(../imagenes/mDestacadoVerdeXl.svg) no-repeat;
	    background-position: 100%;
	    background-size: contain;
	}
}
@media (min-width: 1600px) {
	.textoCabeceraFamilia {
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    transform: translateY(-50%);
	}
}
@media (max-width:1199px) and (min-width:992px) {
	.btnSolicitarLlamada {
		margin-left: 8px;
	}
	#rrss, #copyright {
		display: inline-block !important;
	}
	#footermapasitio .container-fluid, #footerContrata .container-fluid, #footerRedes .container-fluid {
		max-width: 960px;
	}
	#navegacion nav {
		display: none !important;
	}
}

@media (max-width: 991px) {
	.btnSolicitarLlamada {
		display: block;
		margin: 30px auto 0 auto;
	}
	#footerMarcaTelefonica{
		padding: 20px 0;
	}
	.titfooterenlaces2{
		display:none;
	}
	.titfooterenlaces a {
		font-size: 21px;
	}
	#footermapasitio{
		padding: 0;
		border-bottom: none;
	}
	#footermapasitio .container-fluid .col-12 {
		padding: 0;
	}
	#footermapasitio ul li a {
		font-size: 18px;
		color: #50535a;
	}
	.footer-large__title.active i {
		transform: rotate(-180deg);
    	-webkit-transform: rotate(-180deg);
	}
	#footermapasitio .collapsible-body {
		display: none;
	}
	#footermapasitio .collapsible-body.active {
		display: block;
	}
	#footermapasitio .collapsible-body li {
		margin-left: 15px;
	}
	#rrss, #copyright {
		display: block;
		text-align: center;
		width: 100%;
	}
	#rrss {
		border-bottom: 1px solid #b7b7b7;
	}
	#rrss ul {
		padding: 20px 0;
	}
	#rrss ul li:not(:first-of-type) {
		margin-left: 25px;
	}
	#copyright {
		padding: 25px 0;
	}
	#navegacion nav {
		display: none !important;
	}
	.cabeceraProducto ul {
		display: none;
	}
}
@media (max-width:1199px) and (min-width:768px) { 
	#serviciosiconos > div img {
		width: 60px;
		height: 60px;
	}
}
@media (max-width:991px) and (min-width:768px) {
	#serviciosiconos > div:first-of-type, #serviciosiconos > div:nth-of-type(2) {
		margin-bottom: 40px;
	}
	#serviciosiconos > div .txtpieservicios {
		padding: 0 15px;
	}
	.collapsible-header {
		padding: 25px;
	}
}

@media (max-width:767px) and (min-width:576px) {
	.collapsible-header {
		padding: 20px;
	}
	#serviciosiconos > div {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.modalbody {
		padding: 40px 30px;
	}
	.titformodal {
		margin-bottom: 15px;
		margin-top: 20px;
		font-size: 32px;
	}
}
@media (max-width: 767px) {
	#navegacion {
		height: 70px;
	}
	#navegacion .logo {
		margin-right: 0;
	    width: 69px;
	    height: 50px;
	    align-self: center;
	    display: flex; 
	}
	#serviciosiconos > div {
	    border-bottom: 1px solid #b7b7b7;
	    padding-left: 15px;
	    padding-right: 15px;
	    display: flex;
	}
	#footerContrata {
		padding: 60px 0 0 0;
	}
	p.txtpieservicios {
		display: inline-block;
		margin-bottom: 0;
		font-size: 21px;
		margin-left: 20px;
		line-height: 38px;
	}
	.titfooterenlaces, .titfooterenlaces2 {
		font-size: 21px;
	}
	#serviciosiconos > div img {
		width: 40px;
		height: 40px;
	}
	.modal-dialog-centered {
	    min-height: 100%;
	}
	.modal-dialog {
	    max-width: 100%;
	    margin: 0;
	}
	.modal-dialog-centered::before {
	    height: 100%;
	}
	.modal-content {
		align-self: stretch;
	}
	#btmanianaCntc, #btmanianaCntr {
		float: none;
		margin-right: 10px;
	}
	#btardeCntc, #btardeCntr {
		float: none;
		margin-left: 10px;
	}
}
@media (max-width: 576px) {
	#navegacion .row {
		margin-left: 0;
		margin-right: 0;
	}
	.collapsible-header {
		padding: 20px 15px;
	}
	/*.cabecera .servicios {
		display: none;
	}*/
	#serviciosiconos > div {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	p.txtpieservicios {
		line-height: 1;
	}
	.titformodal {
		font-size: 36px;
	}
	.apps .container {
		padding-left: 30px;
	}
}

@media (max-width: 345px) {
	#footerMarcaTelefonica img {
		width: 100%;
		height: auto;
	}
}
	